et-xmlfile==1.1.0
eth-abi==4.2.1
eth-account==0.10.0
eth-hash==0.5.2
eth-keyfile==0.7.0
eth-keys==0.4.0
eth-rlp==1.0.0
eth-typing==3.5.2
eth-utils==2.3.1
exceptiongroup==1.1.1
Flask==2.2.2
Pillow==9.4.0
python-dotenv==1.0.1
regex==2023.12.25
requests==2.31.0
wcwidth==0.2.13
web3==6.13.0
webencodings==0.5.1
websockets==12.0